body#body_diff{
	background-color: white;
}

h3.hrconfig{
	border-bottom: 2px solid ##929394 !important;
}

body#login_sudent{
	background-color: white!important;
}

/*.md-radio label>.check{
	background: #36c6d3!important;
}*/

/*span.answer_circle{
	border: 1px solid: ;
}*/